<div class="container node-news">
  <div class="row">
   {# {% if node.field_img_news.0 %}
      <div class="col-md-4 col-12 mb-5">
        {{ content.field_img_news }}
      </div>
    {% endif %}#}


{#    {% if node.field_img_news.0 %}
      <div class="col-md-8 col-12 mb-5">
    {% else %}
      <div class="col-12 mb-5">
    {% endif %}#}

  <div class="col-12 mb-5">
      <input class="approve-hidden" value="{{ node.field_is_approve.value }}" type="hidden">

      {{ content.field_img_news }}

      <div class="content-all">
        {% if node.field_date_publication.value %}
          <div>{{ content.field_date_publication }}</div>
        {% endif %}

        {% if node.field_sub_title.value %}
          <div><i>{{ node.field_sub_title.value|trim }}</i></div>
        {% endif %}

        {% if node.field_lead.value %}
          <div><i>{{ node.field_lead.value|trim }}</i></div>
        {% endif %}

        {% if node.body.value %}
          {{ content.body }}
        {% endif %}

        {% if node.field_speaker.value %}
            <div><strong><i>Спикер: {{ node.field_speaker.value|trim }}</i></strong></div>
        {% endif %}

        {% if node.field_tags.value %}
            <div><i>Тэги: {{ node.field_tags.value }}</i></div>
        {% endif %}

        {% if node.field_social_network.value %}
            <div><strong>{{ node.field_social_network.value|trim }}</strong></div>
        {% endif %}

        {{ content.field_link_to_news }}

        {% if node.type.target_id != 'page' %}
          Автор: {{ author_name|striptags }}
        {% endif %}

      </div>

    </div>
  </div>
</div>

{% if node.type.target_id != 'page' %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var timerId = setInterval(transformNavigation, 100)

            function transformNavigation() {
                var success = document.querySelector('.approve-hidden')
                var nav = document.querySelector('nav.tabs')

                if (!nav) {
                    return false;
                }

                if (success.value == '1') {
                    nav.style.display = 'none'
                } else {
                    nav.style.display = 'block'
                }

                clearInterval(timerId)
            }
        });
    </script>
{% endif %}
