<div class="row">
      <div class="col-4">{{ form.publication }}</div>
      <div class="col-4">{{ form.speaker }}</div>
      <div class="col-4">{{ form.links }}</div>
      <div class="col-4">{{ form.types }}</div>
  <div class="col-4">{{ form.tags_links }}</div>
  <div class="col-4 mt-5">{{ form.actions }}</div>
</div>
