<div class="row">
      <div class="col-12">{{ form.publication }}</div>
      <div class="col-12">{{ form.speaker }}</div>
      <div class="col-12">{{ form.links }}</div>
      <div class="col-12">
      {{ form.link_type }}
      {{ form.tags }}
      {{ form.types }}
      </div>
  <div class="col-12">{{ form.tags_links }}</div>
  <div class="col-12 mt-5 text-align-center">{{ form.actions }}</div>
    <div class="col-12 mb-5"></div>
</div>

{#<div class="row">
    <div class="col-4">{{ form.publication }}</div>
    <div class="col-4">{{ form.speaker }}</div>
    <div class="col-4">{{ form.links }}</div>
    <div class="col-3">
        {{ form.link_type }}
        {{ form.tags }}
        {{ form.types }}
    </div>
    <div class="col-5">{{ form.tags_links }}</div>
    <div class="col-4 mt-5">{{ form.actions }}</div>
    <div class="col-12 mb-5"></div>
</div>#}
