
<div class="row">

  {% for row in rows %}
    {% set type = row.columns.field_type_material.content[0]['field_output']["#markup"]|striptags|trim %}

    {% set item = {
      title: row.columns.title.content[0]['field_output']["#markup"],
      sub_title: row.columns.field_sub_title.content[0]['field_output']["#markup"],
      body: row.columns.body.content[0]['field_output']["#markup"],
      img_src: row.columns.field_img_news.content[0]['field_output']["#markup"]|striptags|trim,
      nid: row.columns.nid.content[0]['field_output']["#markup"]|striptags|trim,
      lead: row.columns.field_lead.content[0]['field_output']["#markup"]|striptags|trim,
      tags: row.columns.field_tags.content[0]['field_output']["#markup"]|striptags|trim,
      theme_link: row.columns.field_link_to_news.content[0]['field_output']["#markup"]|striptags|trim,
      social: row.columns.field_social_network.content[0]['field_output']["#markup"]|striptags|trim,
      speaker: row.columns.field_speaker.content[0]['field_output']["#markup"]|striptags|trim,
      date_raw: row.columns.field_date_publication.content[0]['field_output']["#markup"]|striptags|trim,
      is_approve: row.columns.field_is_approve.content[0]['field_output']["#markup"]|striptags|trim
    }
    %}
    <div class="col-md-5 border mb-3">
        <h3>{{ row.columns.field_type_material.content }}</h3>
      <div class="item item-left row">
        <div class="col-md-5 nopadding hidden-xs">
          <img src="{{ item.img_src }}" />
          <span class="img-overflow"></span>
          <div class="arrow-left"></div>
        </div>

        <div class="col-md-7 nopadding">
          <div class="content">
            {% if item.is_approve == 1 %}
              <div class="yes t-a-r">Согласовано</div>
            {% else %}
              <div class="no t-a-r">Проект</div>
            {% endif %}
            
            <p class="date">{{ row.columns.field_date_publication.content }}</p>
            <h2>{{ item.title }} </h2>

            {% if item.sub_title != '' %}
              <p>{{ item.sub_title }}</p>
            {% endif %}

            {% if item.social  != '' %}
              <p><strong>{{ item.social  }}</strong></p>
            {% endif %}

            {% if item.lead != '' %}
              <p><strong>Лид: {{ item.lead  }}</strong></p>
            {% endif %}

            <p>{{ item.body  }}</p>

            {% if item.tags != '' %}
              <p>Тэги: {{ item.tags }}</p>
            {% endif %}

            <p><strong>Тема дня: {{ row.columns.field_link_to_news.content  }}</strong></p>
            <i>Спикер: {{ item.speaker}} </i>

            {% if item.nid in quotes_all|keys %}
              <p><strong>Ключевые цитаты</strong></p>

              {% for quote in quotes_all[item.nid] %}
                {% if quote.is_approve == 1 %}
                  <div class="yes t-a-r">Согласовано</div>
                {% else %}
                  <div class="no t-a-r">Проект</div>
                {% endif %}

                <p><i>{{ quote.date }}</i></p>
                <p>{{ quote.title|raw }}</p>
                {{ quote.body|raw }}
                <p>
                  <i>Тэги: {{ quote.tags }} </i><br/>
                  <i>Спикер: {{ quote.speaker }} </i>
                </p>

              {% endfor %}

            {% endif %}

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5 border mb-3">
    {% if item.nid in social_all|keys %}
      <h3>Соц. сети</h3>
      {% for social in social_all[item.nid] %}

        <div class="item item-left row">
          <div class="col-md-5 nopadding hidden-xs">
            {{ social.img|raw }}
            <span class="img-overflow"></span>
            <div class="arrow-left"></div>
          </div>

          <div class="col-md-7 nopadding">
            <div class="content">
              {% if social.is_approve == 1 %}
                <div class="yes t-a-r">Согласовано</div>
              {% else %}
                <div class="no t-a-r">Проект</div>
              {% endif %}
              <p class="date">{{ social.date }}</p>
              <h2>{{ social.title|raw }} </h2>
              <p><strong>{{ social.network }}</strong></p>
              {{ social.body|raw  }}
            </div>
          </div>

        </div>

      {% endfor %}

    {% endif %}


  </div>

    <div class="col-md-2 border mb-3 item">
        {% if item.speaker in quotes_speaker|keys %}

            <p><strong>Ранее сказано</strong></p>

            {% for quote in quotes_speaker[item.speaker] %}
                {% if item.nid != quote.theme_id and item.date_raw > quote.date_raw %}
                    {% if quote.is_approve == 1 %}
                        <div class="yes t-a-r">Согласовано</div>
                    {% else %}
                        <div class="no t-a-r">Проект</div>
                    {% endif %}

                    <p><i>{{ quote.date }}</i></p>
                    <p>{{ quote.title|raw }}</p>
                    {{ quote.body|raw}}
                    <p>
                        <i>Тэги: {{ quote.tags }} </i><br/>
                        <i>Спикер: {{ quote.speaker }} </i>
                    </p>
                {% endif %}
            {% endfor %}


        {% endif %}
    </div>


  {% endfor %}

</div>

