<div class="row materials-table">
    <div class="col-10">
        <div class="row">

  {% for row in rows %}
    {% set type = row.columns.field_type_material.content[0]['field_output']["#markup"]|striptags|trim %}

    {% set item = {
      title: row.columns.title.content[0]['field_output']["#markup"],
      sub_title: row.columns.field_sub_title.content[0]['field_output']["#markup"],
      body: row.columns.body.content[0]['field_output']["#markup"],
      img_src: row.columns.field_img_news.content[0]['field_output']["#markup"]|striptags|trim,
      nid: row.columns.nid.content[0]['field_output']["#markup"]|striptags|trim,
      lead: row.columns.field_lead.content[0]['field_output']["#markup"]|striptags|trim,
      tags: row.columns.field_tags.content[0]['field_output']["#markup"]|striptags|trim,
      theme_link: row.columns.field_link_to_news.content[0]['field_output']["#markup"]|striptags|trim,
      social: row.columns.field_social_network.content[0]['field_output']["#markup"]|striptags|trim,
      speaker: row.columns.field_speaker.content[0]['field_output']["#markup"]|striptags|trim,
      date_raw: row.columns.field_date_publication_1.content[0]['field_output']["#markup"]|striptags|trim,
      is_approve: row.columns.field_is_approve.content[0]['field_output']["#markup"]|striptags|trim
    }
    %}

    {% set quotes_speaker_exists = false %}

    {% if item.speaker in quotes_speaker|keys %}

        {% for quote in quotes_speaker[item.speaker] if not quotes_speaker_exists %}
            {% if item.nid != quote.theme_id and date(item.date_raw) > date(quote.date_raw) %}
                {% set quotes_speaker_exists = true %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if quotes_speaker_exists %}
        {% set class_common = 'col-md-5 border mb-3' %}
    {% else %}
        {% set class_common = 'col-md-6 border mb-3' %}
    {% endif %}

    <div class="col-md-6 border">
        <h3>{{ row.columns.field_type_material.content }}</h3>
      <div class="item item-left row">
        <div class="col-md-5 nopadding hidden-xs">
          <img src="{{ item.img_src }}" />
          <span class="img-overflow"></span>
          <div class="arrow-left"></div>
        </div>

        <div class="col-md-7 nopadding">
          <div class="content content-item">
            {% if item.is_approve == 1 %}
              <div class="yes t-a-r">Согласовано</div>
            {% else %}
              <div class="no t-a-r">Проект</div>
            {% endif %}

            <p class="date date-news">{{ row.columns.field_date_publication.content }}</p>
            <h2>{{ item.title }} </h2>

            {% if item.sub_title != '' %}
              <p><i>{{ item.sub_title }}</i></p>
            {% endif %}

            {% if item.social  != '' %}
              <p><strong>{{ item.social  }}</strong></p>
            {% endif %}

            {% if item.lead != '' %}
              <p><i>Лид: {{ item.lead  }}</i></p>
            {% endif %}

            <p>{{ item.body|raw}}</p>

            {% if item.tags != '' %}
              <p><i>Тэги: {{ item.tags }}</i></p>
            {% endif %}

            <p><strong>Тема дня: {{ row.columns.field_link_to_news.content  }}</strong></p>
              {% if item.speaker %}
                <p><i><strong>Спикер: <span class="news-speaker">{{ item.speaker}}</span></strong></i></p>
              {% endif %}

            {% if item.nid in quotes_all|keys %}
              <p><strong>Ключевые цитаты</strong></p>

              {% for quote in quotes_all[item.nid] %}
                {% if quote.is_approve == 1 %}
                  <div class="yes t-a-r">Согласовано</div>
                {% else %}
                  <div class="no t-a-r">Проект</div>
                {% endif %}

                <p><i>{{ quote.date }}</i></p>
                <p>{{ quote.title|raw }}</p>
                {{ quote.body|raw }}
                <p>
                  <i>Тэги: {{ quote.tags }} </i><br/>
                  <i><strong>Спикер: {{ quote.speaker }}</strong> </i>
                </p>

              {% endfor %}

            {% endif %}

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 border">
    {% if item.nid in social_all|keys %}
      <h3>Соц. сети</h3>
      {% for social in social_all[item.nid] %}

        <div class="item item-left row">
          <div class="col-md-5 nopadding hidden-xs">
            {{ social.img|raw }}
            <span class="img-overflow"></span>
            <div class="arrow-left"></div>
          </div>

          <div class="col-md-7 nopadding">
            <div class="content">
              {% if social.is_approve == 1 %}
                <div class="yes t-a-r">Согласовано</div>
              {% else %}
                <div class="no t-a-r">Проект</div>
              {% endif %}
              <p class="date">{{ social.date }}</p>
              <h2>{{ social.title|raw }} </h2>
              <p><strong>{{ social.network }}</strong></p>
              {{ social.body|raw  }}
            </div>
          </div>

        </div>

      {% endfor %}

    {% endif %}


  </div>



  {% endfor %}

</div>

</div>

    <div class="col-2 border item">
        {#{{ drupal_block('views_exposed_filter_block:all_materials-block_1', wrapper=false) }}#}
        <div class="material-create">
            <h3>Создать материал</h3>
            <ul class="list">
                <li><a href="/node/add/news?type=1">Новость</a></li>
                <li><a href="/node/add/news?type=2">История Успеха</a></li>
                <li><a href="/node/add/material_social">Соц. сети</a></li>
                <li><a href="/node/add/quote">Цитаты</a></li>
            </ul>
        </div>
        <div class="quotes-speaker"></div>
        {#{% if item.speaker in quotes_speaker|keys %}

        <p><strong>Ранее сказано</strong></p>

        {% for quote in quotes_speaker[item.speaker] %}
            {% if item.nid != quote.theme_id and date(item.date_raw) > date(quote.date_raw) %}
                {% if quote.is_approve == 1 %}
                    <div class="yes t-a-r">Согласовано</div>
                {% else %}
                    <div class="no t-a-r">Проект</div>
                {% endif %}

                <p><i>{{ quote.date }}</i></p>
                <p>{{ quote.title|raw }}</p>
                {{ quote.body|raw}}
                <p>
                    <i>Тэги: {{ quote.tags }} </i><br/>
                    <i>Спикер: {{ quote.speaker }} </i>
                </p>
            {% endif %}
        {% endfor %}


    {% endif %}#}
</div>

</div>